.page {
  max-width: 1280px;
  padding: 48px; /* запрещен padding для блоков */
  margin: 0 auto;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased; /* сглаживание шрифта для браузеров chromium */
  -moz-osx-font-smoothing: grayscale; /* сглаживание шрифта для браузеров mozilla */
  -webkit-text-size-adjust: 100%; /* Подгонка размера текста */
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility; /* рендеринг шрифтов */
  background-color: #2A2C2F;
}

@media screen and (max-width: 1280px) {
  .page {
    padding: 24px;
  }
}

@media screen and (max-width: 1024px) {
  .page {
    padding: 24px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    padding: 24px;
  }
}
@media screen and (max-width: 320px) {
  .page {
    padding: 16px;
  }
}
