.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 92px; /* отступ между рядами */
  justify-items: center;
}

@media screen and (max-width: 768px) {
  .main {
    grid-row-gap: 88px;
  }
}
@media screen and (max-width: 410px) {
  .main {
    grid-row-gap: 64px;
  }
}
