.page_container {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased; /* сглаживание шрифта для браузеров chromium */
  -moz-osx-font-smoothing: grayscale; /* сглаживание шрифта для браузеров mozilla */
  -webkit-text-size-adjust: 100%; /* Подгонка размера текста */
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility; /* рендеринг шрифтов */
  color: #fff;
}
