.place {
  display: grid;
  grid-template-columns: minmax(min-content, 460px) minmax(min-content, 484px);
  gap: 40px;

}
@media screen and (max-width: 1100px) {
  .place {
    grid-template-columns: minmax(min-content, 440px) minmax(min-content, 456px);
    gap: 32px;
  }
}

@media screen and (max-width: 790px) {
  .place {
    grid-template-columns: minmax(min-content, 340px) minmax(min-content, 352px);
    gap: 28px;
  }
}
@media screen and (max-width: 410px) {
  .place {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
