.place {
  display: grid;
  grid-template-columns: 46.75% auto;
  gap: 48px 40px;

}
@media screen and (max-width: 1100px) {
  .place {
    grid-template-columns: 47.41% auto;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 790px) {
  .place {
    grid-template-columns: 47.22% auto;
    gap: 48px 28px;
  }
}
@media screen and (max-width: 542px) {
  .place {
    grid-template-columns: 1fr;
    gap: 32px;
  }
