.footer {
  width: calc(100% - 2*48px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 92px 0 24px;
}


@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 2*24px);
    padding: 88px 0 24px;
  }
}
@media screen and (max-width: 692px) {
  .footer {
    width: calc(100% - 2*18px);
    flex-direction: column;
    justify-content: flex-start;
    padding: 64px 0 24px;
    align-items: flex-start;
  }
}
